
@{
    Layout = null;
}
@model UserViewModel


<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <title>Login</title>
</head>
<body>
    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Giriş</div>
                        <div class="card-body">
                            <form asp-controller="Account" asp-action="Login" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @if (TempData["message"] != null)
                                {
                                    <div class="alert alert-danger text-center">
                                        @TempData["message"]
                                    </div>

                                }

                                <div class="form-group row">
                                    <label asp-for="Username" class="col-md-4 col-form-label text-md-right">Kullanıcı Adı</label>
                                    <div class="col-md-6">
                                        <input asp-for="Username" type="text" placeholder="Username" class="form-control" required autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label asp-for="Username" class="col-md-4 col-form-label text-md-right">Şifre</label>
                                    <div class="col-md-6">
                                        <input asp-for="Password" type="password" placeholder="Password" class="form-control" required>
                                    </div>
                                </div>
                                <input type="submit" value="Giriş" class=" btn btn-primary btn-group-sm" />
                            </form>
                            <div>
                                <h4>
                                </h4>
                                <a asp-action="Register">Kayıt olmak için lütfen tıklayın</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">var title = document.title;
        var altTitle = "#EVDEKAL";
        window.onblur = function () { this.document.title = this.altTitle; };
        window.onfocus = function () { this.document.title = this.title; };</script>

</body>
</html>